name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t dishajadav/final-project-app:latest .

      - name: Push Docker image
        run: docker push dishajadav/final-project-app:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 18.219.81.119
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo docker pull dishajadav/final-project-app:latest
            sudo docker rm -f $(sudo docker ps -aq) || true
            sudo docker run -d \
              --name flask-app \
              -p 5000:5000 \
              --restart unless-stopped \
              dishajadav/final-project-app:latest
